@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .filter_scroll {
    width: calc(100vw - 40px);
  }

  .filter_item_active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: orange;
  }

  .loader {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  .loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 2s linear infinite;
  }

  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }

  .react-select-container {
    .react-select__control {
      background: #1f1d1d;
      border: none;
    }
    .react-select__value-container {
      background: #1f1d1d;
    }

    .react-select__single-value {
      color: #fff;
    }

    .react-select__menu-list {
      background: #1f1d1d;
      color: #fff;
    }

    .react-select__option {
      background: #1f1d1d;

      &:active {
        background: #1f1d1d;
      }
    }

    .react-select__indicators {
      display: none;
    }
  }
}

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
